{% extends '::base.html.twig' %}

{% block content %}
    <form method="post">
        <h1>koffiecode</h1>
        <input type="number" name="code" /><br/>
        <input type="submit" value="inloggen" />
    </form>

    <a id='logout' href="{{ path('home') }}"></a>
{% endblock %}
