{% extends '::base.html.twig' %}

{% block content %}
    <p>Login</p>

    <form method="post">
        <input name="code" type="text" />
        <input type="submit" value="Inloggen" />
    </form>
{% endblock %}
