html{
	width:100%;
	height:100vh;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
h1{
	text-align: center;
}
form{
	text-align: center;
}
input[type='submit']{
	margin-top: 2em;
	border-radius: 50%;
	border:none;
	width:100px;
	height:100px;
	background-color: #19a0d8;
	color: white;
	font-size: 1em;
	-webkit-appearance: none;
}
#heads{
	width:75%;
	margin: 0 auto;
}
#heads a{
	    position: relative;
    display: block;
    float: left;
    text-decoration: none;
    text-align: center;
    width: 15%;
    margin-top: 2em;
    margin-left: calc(25% / 6);
    color:black;

}

#heads .head{
	margin-bottom: 1em;
}
#heads a h2{
	font-size: 0.5em;
	position: relative;
}
a div, .headrank .head{
	width:30%;
	height:0;
	padding-top: 30%;
	margin:0 auto;
	border-radius: 50%;
	border:none;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
a div{
	width: 100%;
    float: left;
    height: 0;
    padding-top: 100%;
}

#heads a:nth-child(1){
	width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}
#heads a:nth-child(1) h2{
	font-size: 1em;
}

.rank{
	width:20%;
	margin-left:10%;
	float: left;
	margin-top: 5em;
	letter-spacing: 1px;
}
.headrank p{
	font-size: 1.5em;
	font-weight: 800;
	position: absolute;
	top: 50%;
	right: 0;
	text-align: right;
}
.point_despription{
	font-size: 0.7em;
	font-weight: 300;
}

.rank h2{
	margin: 0;
	bottom:0;
	margin-top: 0.5em;
	font-weight: 800;
}
.rank h3{
	font-weight: 400;
	margin: 0;
}
.rank .headrank{
	position: relative;
	overflow: hidden;
	text-align: center;
	display: block;
	height: auto;
	width: auto;
	
	margin-top: 4em;
	text-decoration: none;
	font-size: 0.5em;

}

.rank .headrank:nth-child(1) .head{
	width:50%;
	padding-top: 50%;
}

.rank .headrank:nth-child(2) .head{
	width:40%;
	padding-top: 40%;
}

.rank .headrank:nth-child(3) .head{


}
.rank_description{
	position: absolute;
	top:0;
	width:25%;
	height:0;
	padding-top: 25%;
	right:0;
}

.rank_name{
	width:100%;
	height:auto;
	position: relative;
}
.rank_name h1{
	text-align: center;
	font-size: 0.8em;
	padding-bottom: 1em;
	border-bottom: 1px solid black;
}
.rank_icon{
	height: auto;
    display: block;
    position: absolute;
    top: -200%;
    margin-left: 40%;
    left: 0;
    width: 20%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.coffee{
	background-image: url('img/coffee.png');
}
.butler{
	background-image: url('img/butler.png');
}

.quiz_img{
	width:50%;
	height:auto;
	margin: 0 auto;
	display: block;
}
label{
	font-size: 2em;
	font-weight: 800;
}
/*.submit_answer{
	position: absolute;
	bottom:0;
}*/
form{
	max-width: 50%;
	margin: 0 auto;
	display: block;
}
.quiz_form{
	margin-top: 2em;
	text-align: right;
}

#logout{
	width:5%;
	height:0;
	padding-top: 5%;
	position: absolute;
	right:1em;
	top: 1em;
	background-image: url('img/logout.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}